:host {
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
}

div {
    /* height: 100%; */
    font-family: 'Walrus';
    text-align: center;
}

.intro {
    display: block;
    font-family: 'Always In My Heart';
    font-size: 32px;
    color: var(--orange);
    margin: 0 0 8px 0;
}

h1 {
    font-size: 184px;
    line-height: 10rem;
    margin: 0;
}

.first-row,
.second-row {
    display: block;
    color: var(--orange);
}

.year {
    display: block;
    color: var(--red);
}

h2 {
    font-size: 64px;
    color: var(--green);
    margin: 0;
}